In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import size
from pyspark.sql.types import *
import pandas as pd
from pyspark.sql.functions import col

In [2]:
spark = SparkSession.builder.master("local").getOrCreate()
csv_df = spark.read.option("header", "true").option("delimiter",",").csv("data/*")
csv_df.write.mode("overwrite").parquet("friends1.parquet")
parquet_df = spark.read.parquet("friends1.parquet")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/02 15:00:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/04/02 15:00:31 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [3]:
csv_df = csv_df.withColumn('MAX',col('MAX').cast('double'))
csv_df.createOrReplaceTempView("temp_view")

In [4]:
querya=spark.sql("select station, name, year(date) ,MAX from temp_view where (year(date),MAX) in (select year(date),max(MAX) from temp_view where max!=9999.9 group by year(date)) order by year(date)")
querya.show()

+-----------+--------------------+----------+----+
|    station|                name|year(date)| MAX|
+-----------+--------------------+----------+----+
|99407099999|DESTRUCTION IS. W...|      2010|74.8|
|01046099999|       SORKJOSEN, NO|      2011|87.8|
|01023099999|       BARDUFOSS, NO|      2012|72.0|
|01001499999|      SORSTOKKEN, NO|      2013|80.6|
|01023099999|       BARDUFOSS, NO|      2014|89.6|
|01025099999|          TROMSO, NO|      2015|71.6|
|01023199999|         DRAUGEN, NO|      2016|77.0|
|01023099999|       BARDUFOSS, NO|      2017|78.6|
|01025099999|          TROMSO, NO|      2018|84.2|
|01023099999|       BARDUFOSS, NO|      2019|78.8|
|01023099999|       BARDUFOSS, NO|      2019|78.8|
|01023099999|       BARDUFOSS, NO|      2020|79.9|
|01065099999|        KARASJOK, NO|      2021|88.3|
|02095099999|          PAJALA, SW|      2022|85.5|
+-----------+--------------------+----------+----+

In [5]:
queryb=spark.sql("select station, name, year(date) as year,month(date) as month, min as min from temp_view where min = (select min(int(min)) from temp_view where month(date)=1) limit 1")
queryb.show()

+-----------+-------------+----+-----+------+
|    station|         name|year|month|   min|
+-----------+-------------+----+-----+------+
|01023099999|BARDUFOSS, NO|2017|    1| -28.3|
+-----------+-------------+----+-----+------+

In [6]:
queryca=spark.sql("select station,name,date,prcp as max_prcp from temp_view where year(date)=2015 and prcp=(select max(prcp) from temp_view where year(date)=2015  and prcp!=99.99) limit 1")
queryca.show()
querycb=spark.sql("select station,name,date,prcp as min_prcp from temp_view where year(date)=2015 and prcp=(select min(prcp) from temp_view where year(date)=2015  and prcp!=0.00) limit 1")
querycb.show()

+-----------+----------+----------+--------+
|    station|      name|      date|max_prcp|
+-----------+----------+----------+--------+
|01025099999|TROMSO, NO|2015-11-02|    2.11|
+-----------+----------+----------+--------+

+-----------+------------+----------+--------+
|    station|        name|      date|min_prcp|
+-----------+------------+----------+--------+
|01008099999|LONGYEAR, SV|2015-01-18|    0.01|
+-----------+------------+----------+--------+

In [7]:
queryd=spark.sql("Select (Select count(*) from temp_view where year(date)=2019 and gust=999.9)*100/(Select count(*) from temp_view where year(date)=2019 ) as percentage_missing_gust from temp_view limit 1")
queryd.show(300)

+-----------------------+
|percentage_missing_gust|
+-----------------------+
|      82.87671232876713|
+-----------------------+

In [8]:
a= spark.sql("with temp_stats as ( select month(date) as month, avg(temp) as mean_temp, percentile_approx(temp, 0.5) as median_temp, stddev(temp) as stdev_temp from temp_view where year(date) = 2020 group by month ), temp_mode as ( with temp_count as ( select temp, month(date) as month, count(temp) over (partition by temp, month(date)) as cnt from temp_view where year(date) = 2020 ), max_count as ( select distinct month, max(cnt) over(partition by MONTH) as mx from temp_count ) select distinct max_count.month, max(temp) over (partition by max_count.month) as mode_temp from temp_count, max_count where temp_count.MONTH=max_count.MONTH and temp_count.cnt=max_count.mx order by max_count.MONTH ) select ts.month, ts.mean_temp, ts.median_temp, ts.stdev_temp, tm.mode_temp from temp_stats ts join temp_mode tm on ts.month = tm.month order by ts.month")
a.show()

+-----+------------------+-----------+------------------+---------+
|month|         mean_temp|median_temp|        stdev_temp|mode_temp|
+-----+------------------+-----------+------------------+---------+
|    1|15.896774193548387|       14.9|12.805172721989297|      5.7|
|    2| 13.35862068965517|       15.3| 13.09180853418292|     15.5|
|    3|14.653225806451612|       18.6|15.784789500893567|     35.4|
|    4|23.329999999999995|       26.0| 13.02209725617009|     34.1|
|    5| 36.21935483870967|       36.0| 8.077246704851957|     37.0|
|    6| 47.42999999999999|       46.0| 8.877190347997287|     58.6|
|    7| 52.88709677419356|       51.4|  6.66378723291517|     49.3|
|    8|49.287096774193564|       48.7| 6.548594740281946|     44.7|
|    9| 41.84499999999999|       42.5| 5.887660897797832|     46.5|
|   10|31.529032258064507|       30.7| 9.609052888228815|     32.2|
|   11|29.246666666666666|       29.8| 8.143448373534971|     36.3|
|   12| 19.95483870967743|       20.2| 8.854464048157649|     25.3|
+-----+------------------+-----------+------------------+---------+